<!doctype html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>SUFE快递帮后台管理-首页</title>
    <link rel="stylesheet" href="/files/admin/css/top.css">
    <link rel="stylesheet" href="/files/admin/css/reset.css">
</head>
<body>
<div class="header">
    <p>
        SUFE快递帮后台管理
    </p>
    <div class="menu">
        <a href="/admin/users">
            <span>校园认证审核</span>
        </a>
    </div>
</div>
</body>
</html>