body {
    background:#2e4a53;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container {
    width: 475px;
    height: 459px;
    background-size: 100% 100%;
    -webkit-animation:inner 1s;
    -o-animation:inner 1s;
    animation:inner 1s;
}

@keyframes inner {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    100%{
        width: 475px;
        height: 459px;
        opacity: 1;
    }
}

.login_input_container {
    width: 75%;
    height: 13%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.username_div {
    margin: 27% auto 0;
}

.login_input_container img {
    width: 10%;
    height: auto;
    margin-left: 5%;
}

.login_input_container input {
    border: none;
    background: transparent;
    height: 68%;
    width: 80%;
    margin-left: 3%;
    font-size: 25px;
    color: #fff;
}

.password_div {
    margin: 10% auto 0;
}

.login_button {
    background: rgba(189, 189, 189, 0.8);
    border-radius: 7px;
    font-size:20px;
    font-family:fantasy;
    height: 10%;
    width: 20%;
    background-size: 100% 100%;
    margin: 8% auto 0;
    text-align: center;

}